/***************************TAG SELECTORS***************************/
hr {
    border-color: #581c0c;
    border-style: dotted none none;
    border-width: 5px;
}

h1, h3 {
    color: #581c0c;
}

th {
    background-color: #581c0c;
    color: #ca5116;
}

body {
    background-color: #f1e3cb;
    font-family: "Verdana", sans-serif;
}


/***************************CLASS SELECTORS***************************/
.tableHeading {
    font-variant: small-caps;
}

.susquehanna {
    background-color: #e0d3bc;
}

.circular {
    border-radius: 100%;
}

/***************************ID SELECTORS***************************/
